// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 

/*
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}





.wrapper.secondary {
  background: #f3f3f3;
}

*/


// Full Width Header
.header {
  background: #FFFFFF !important;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Full Width Footer
.footer {
  background: #000000 !important;
  color:#FFFFFF !important;
}

.footer .columns {
  padding-bottom: 0;
}

.footer h5 {
  color: #fff;
  padding-bottom: 15px;
}

.footer p {
  color: #FFFFFF;
}

.footer .wrapper-inner {
  padding: 20px;
}

.footer .container {
  background: transparent;
}

.footer small {
  color: #FFFFFF!important;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

table.button.youtube table td {
  background: #CC181E !important;
  border-color: #CC181E;
}

table.button.pinterest table td {
  background: #BD081C !important;
  border-color: #BD081C;
}


small {
    color: #0a0a0a;
}