---
subject: Loop
---

<container>

  <spacer size="16"></spacer>

  <row>
    <columns>
      <center>
        <img src="http://placehold.it/548x200">
      </center>
    </columns>
  </row>
  <row>
    <columns large="8">
      <h2>This is a title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam at, nihil quas harum mollitia dolores odio. Inventore delectus nihil soluta quos, magni doloribus, voluptas aspernatur explicabo atque perspiciatis possimus voluptates.</p>
      <p><a href="#">Learn more</a></p>
    </columns>
    <columns large="4">
      <img class="small-float-center" src="http://placehold.it/170x129" alt="">
    </columns>
  </row>
  <row>
    <columns large="6">
      <h4>Sub Section Title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eum eius numquam sint dolore voluptatibus beatae ab ad, dignissimos fugiat? Nisi odio commodi debitis eveniet tenetur provident aliquid tempora placeat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eum eius numquam sint dolore voluptatibus beatae ab ad, dignissimos fugiat? Nisi odio commodi debitis eveniet tenetur provident aliquid tempora placeat.</p>
    </columns>
    <columns large="6">
      <h4>Sub Section Title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eum eius numquam sint dolore voluptatibus beatae ab ad, dignissimos fugiat? Nisi odio commodi debitis eveniet tenetur provident aliquid tempora placeat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eum eius numquam sint dolore voluptatibus beatae ab ad, dignissimos fugiat? Nisi odio commodi debitis eveniet tenetur provident aliquid tempora placeat.</p>
    </columns>
  </row>
  <row>
    <columns>
      <p>You received this email because you're signed up to receive updates from us. <a href="#">Click here to unsubscribe.</a></p>
    </columns>
  </row>
</container>
