<wrapper class="footer">
  <container>

<row>

	<columns >
		
			<h5><center>Connect with us</center></h5>      
		
	</columns>

</row>

<row>

	<columns large="2">
		<center>
			<button class="facebook expand tiny rounded" href="#">Facebook</button>      
		</center>
	</columns>

	<columns large="2">
	  	<center>
			<button class="twitter expand tiny rounded" href="#">Twitter</button>
		</center>
	</columns>

    <columns large="2">
  		<center>
			<button class="google expand tiny rounded" href="#">Google+</button>
		</center>
	</columns>

    <columns large="2">
  		<center>
			<button class="youtube expand tiny rounded" href="#">YouTube</button>
		</center>
	</columns>

    <columns large="2">
  		<center>
			<button class="pinterest expand tiny rounded" href="#">Pinterest</button>
		</center>
	</columns>

</row>

  <row>
    <columns>
      <p class="text-center">The Parents Shop</p>
      <p class="text-center"><small class="text-center">Mystreetaddress 24, PO 26554, Cyprus</small></p>
    </columns>
  </row>


  <row>
    <columns>
      <p class="text-center"><small>You received this email because you're signed up to receive updates from us.</small></p>
      <p class="text-center"><small><a href="#">Click here to unsubscribe.</a></small></p>
    </columns>
  </row>

  </container>
</wrapper>