<wrapper class="header">
  <container>
    <row class="collapse">
      <columns>

		<center>
			<a href="http://demo.theparentsshop.com">
				<img src="http://demo.theparentsshop.com/cms/files/tps-newsletter/theparentsshop-email-logo.png">
			</a>
			<spacer size="8"></spacer>
			<small>Images not showing? <a href="http://demo.theparentsshop.com">Click here for the web version</a></small>
		</center>  	

  	</columns>


    </row>
  </container>
</wrapper>