<columns large="6">
	
	<a href="http://demo.theparentsshop.com"><img src="http://demo.theparentsshop.com/cms/files/2016/11/full1-400x400.png"></a>
	
	<callout>
		<h5>Sub Section Title</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eum eius numquam sint dolore voluptatibus beatae ab ad, dignissimos fugiat? Nisi odio commodi debitis eveniet tenetur provident aliquid tempora placeat.</p>
		<button class="small" href="#">Read more</button>
	</callout>

</columns>