---
subject: Single product
---

{{> header}}

<container>

  <spacer size="32"></spacer>

  <row>
    
    <columns>

      <center>
        <a href="http://demo.theparentsshop.com"><img src="http://placehold.it/548x300"></a>
      </center>


      <callout>
        
        <h1 class="text-center">Welcome to our community</h1>
        <hr/>
         <p class="lead text-center">€199.99</p>
         <hr/>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto reiciendis eos magni deleniti accusamus tempore, consectetur! Maxime amet, exercitationem nihil fugit eius esse voluptatum ab incidunt minima, saepe reiciendis ipsum.</p>

        <button class="expanded" href="#">Buy now via Amazon.com</button>
      
      </callout>
    
    </columns>
  
  </row>

   <row>

      <columns large="2">
        <center>
              <a href="#"><img src="http://demo.theparentsshop.com/cms/files/tps-newsletter/share-icons/facebook.png"></a>
        </center>
      </columns>

      <columns large="2">
          <center>
              <a href="#"><img src="http://demo.theparentsshop.com/cms/files/tps-newsletter/share-icons/twitter.png"></a>
        </center>
      </columns>

        <columns large="2">
          <center>
              <a href="#"><img src="http://demo.theparentsshop.com/cms/files/tps-newsletter/share-icons/googleplus.png"></a>
        </center>
      </columns>

        <columns large="2">
          <center>
              <a href="#"><img src="http://demo.theparentsshop.com/cms/files/tps-newsletter/share-icons/pinterest.png"></a>
        </center>
      </columns>

        <columns large="2">
          <center>
              <a href="#"><img src="http://demo.theparentsshop.com/cms/files/tps-newsletter/share-icons/mail.png"></a>
        </center>
      </columns>

  </row>

  <spacer size="32"></spacer>

</container>

{{> footer}}