---
subject: Welcome
---

{{> header}}

<container>

  <spacer size="32"></spacer>

  <row>
    
    <columns>

      <center>
        <a href="http://demo.theparentsshop.com"><img src="http://placehold.it/548x200"></a>
      </center>


      <callout>
        
        <h1>Welcome to our community</h1>
        
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa itaque illo doloribus soluta expedita dolores commodi fuga odit.</p>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto reiciendis eos magni deleniti accusamus tempore, consectetur! Maxime amet, exercitationem nihil fugit eius esse voluptatum ab incidunt minima, saepe reiciendis ipsum.</p>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto reiciendis eos magni deleniti accusamus tempore, consectetur! Maxime amet, exercitationem nihil fugit eius esse voluptatum ab incidunt minima, saepe reiciendis ipsum.</p>
        
        <button class="expanded" href="#">Get started now</button>
      
      </callout>
    
    </columns>
  
  </row>

</container>

{{> footer}}